---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ComoFunciona from '../components/ComoFunciona.astro';
import Clientes from '../components/Clientes.astro';
import ServiciosSplit from '../components/ServiciosSplit.astro';
import Testimonios from '../components/Testimonios.astro';
import FAQ from '../components/FAQ.astro';
import CtaFooter from '../components/CtaFooter.astro';
---
<Layout>
  <Navbar />
  <main>
    <Hero />
    <Clientes />
    <ServiciosSplit />
    <ComoFunciona />
    <Testimonios />
    <FAQ />
    <CtaFooter />
  </main>
</Layout>
